# Environment
.env
#.env.*

# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# Databases
*.sqlite
*.db

# Temporary
temp/
tmp/
test.py
